<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Sample App </title>
  </head>
  <body>
    <p>
      This is the home page for the Sample App.
    </p>
  </body>
</html>
