<%= render 'layouts/navbar' %>
<div class="container">
  <div class="flex-grid">
    <aside class="sidebar">
      <%= render 'layouts/sidebar' %>
    </aside>
    <section class="col main no-margin">
      <h1 class="posts-header">Posts</h1>
      <%= button_to "Create New Post", new_micropost_path, method: :get, class: 'default-button' %>
      <div id="microposts">
        <% @microposts.each do |micropost| %>
          <%= render micropost %>
        <% end %>
      </div>
    </section>
  </div>
</div>
