<%= render 'layouts/navbar' %>
<%= render 'layouts/sidebar' %>
<h1 class="posts-header">Posts</h1>
<div class="center">
  <%= button_to "New Post", new_micropost_path, method: :get, class: 'default-button' %>
</div>
<% @microposts.to_a.reverse.each do |micropost| %>
  <%= render micropost %>
<% end %>
