/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
  --var-MainColor:rgb(245, 245, 245);
  --var-secondary-white: rgb(230, 227, 221);
  --main-accent-color:rgb(218, 229, 203);
  --green-accent: rgb(158, 169, 63);
  --yellow-accent: rgb(208, 230, 102);
  --blue-accent: rgb(85, 138, 174);
  --dark-accent: rgb(24, 31, 28);
  --aqua-custom: rgb(55, 125, 150);
}
#microposts {
  text-align: center;
  align-items: center;
  background-color: var(--main-accent-color);
  margin: 25px 25px 100px 100px;
}
 .header {
  background-color: var(--var-MainColor);
 }
 .nav-bar {
  font-family: 'noto-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000;
  background-color: rgb(213, 211, 211);
  margin: 25px 25px 100px 100px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
 .posts-header {
  font-family: 'noto-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }


 /*         */
 /* BUTTONS */
 /*         */
 .low-profile-button {
   font-family: 'noto-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 20px;
   color: #000;
   background-color: rgb(213, 211, 211);
 }
 .default-button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FE6C6B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.default-button:hover {background-color: #db5d5d}

.default-button:active {
  background-color: #FE6C6B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.accent-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FDA4A5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.accent-button:hover {background-color: #ea9799}
.accent-button:active {
  background-color: #fb9395;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.main-accent-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--main-accent-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.main-accent-btn:hover {background-color: #e6e6e6}
.main-accent-btn:active {
  background-color: var(--main-accent-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.green-accent-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--green-accent);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.green-accent-btn:hover {background-color: #e6e6e6}
.green-accent-btn:active {
  background-color: var(--green-accent);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.yellow-accent-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--yellow-accent);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.yellow-accent-btn:hover {background-color: #e6e6e6}
.yellow-accent-btn:active {
  background-color: var(--yellow-accent);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.blue-accent-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--blue-accent);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.blue-accent-btn:hover {background-color: #e6e6e6}
.blue-accent-btn:active {
  background-color: var(--blue-accent);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.dark-accent-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--dark-accent);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
.dark-accent-btn:hover {background-color: #e6e6e6}
.dark-accent-btn:active {
  background-color: var(--dark-accent);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.user-controls {
  float: right;
}
.new-post-form {
  text-align: center;
  align-items: center;
  background-color: var(var-MainColor);
  margin: 25px 25px;
  margin-right: 200px;
  margin-left: 200px;
}
.wrapper {
  width:150px;
  height:150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}
.wrapper img {
  object-fit: cover;
  width: 100%;
  height: fit;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}
.user-show {
  text-align: center;
  align-items: center;
  background-color: var(--main-accent-color);
  margin: 25px 25px;
  margin-right: 200px;
  margin-left: 200px;
}
.user-index {
  text-align: center;
  align-items: center;
  background-color: var(--main-accent-color);
  margin: 25px 25px;
  margin-right: 200px;
  margin-left: 200px;
}