<header>
    <div class="nav-bar">
        <nav>
            <ul>
                <li> <%= link_to "Home", root_path %> </li>
                <li> <%= link_to "Posts", microposts_path %> </li>

            </ul>
            
        </nav>
    </div>
</header>
