<div class="about-page center">
    <h1> About </h1>

    This is a blog to show off my web design skills, primarily backend testing as well as front end.

    I am building this as I search for jobs so please be forgiving.
</div>